$mq__sm: "width > 576px";
$mq__sm_max: "width < 768px";
$mq__md: "width > 768px";
$mq__md_max: "width < 992px";
$mq__lg: "width > 992px";
$mq__lg_max: "width < 1200px";
$mq__xl: "width > 1200px";

$mq__nav-md: $mq__sm;

$mq__nav: $mq__xl;
$mq__max-nav: "width < 1200px";
