@use "sass:map";

$color_gray_shades: 5, 10, 20, 30, 45, 60, 65, 70, 90, 95, 100;
$color_primary_shades: 30, 40, 50, 60, 80;
$color_named: black, white, red, gold, green;

$fonts: (serif, sans, mono);
$font_weight: (
  thin: 100,
  extralight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900
);

$utopia_common_config: (
  "minWidth": 320,
  "maxWidth": 1240
);

// @see ../components/utopia.type.fs.scss
$font_sizes: (
  xs: var(--fs--2),
  s: var(--fs--1),
  // ↑ Size decreases 2 steps ↑
  m: var(--fs-0),
  // ↓ Size increases 4 steps ↓
  l: var(--fs-1),
  xl: var(--fs-2),
  2xl: var(--fs-3),
  3xl: var(--fs-4)
);

$heading_sizes: (
  m: var(--fsh-0),
  // ↓ Size increases 4 steps ↓
  l: var(--fsh-1),
  xl: var(--fsh-2),
  2xl: var(--fsh-3),
  3xl: var(--fsh-4)
);