{% set attributes = attributes.addClass('button').setAttribute('href', url) %}

{% if variant %}
  {% set attributes = attributes.addClass('button--' ~ variant) %}
{% endif %}

{% if size %}
  {% set attributes = attributes.addClass('button--' ~ size) %}
{% endif %}

{% if disabled %}
  {% set attributes = attributes.addClass('is-disabled') %}
  {# {% set attributes = attributes.setAttribute('disabled', '') %} #}
{% endif %}

{% if target_blank %}
  {% set attributes = attributes.setAttribute('target', '_blank') %}
{% endif %}

{% if title %}
  {% set attributes = attributes.setAttribute('title', title|render) %}
{% endif %}

<a{{ attributes }}>
  {% if icon %}
  {# Same formatting like in ui_icons_menu.module::ui_icons_menu_generate_markup() #}
  {{ icon(icon.pack_id, icon.icon_id, icon.settings) }}<span class="ui-icons-menu-text">{{ label }}</span>
  {% else %}
  {{ label }}
  {% endif %}
</a>