/* @media (width > 75rem) {
  body:not(.is-always-mobile-nav) .secondary-nav {
    &::before {
      all: unset;
    }

    border-left: thin solid lightgray;
  }
} */
/**
 * @file
 * Secondary navigation styling.
 */
/* Navigation related breakpoints */
.secondary-nav {
  letter-spacing: 0.02em;
  font-size: var(--fs--1);
  font-weight: 600;
}
@media (width > 1200px) {
  body:not(.is-always-mobile-nav) .secondary-nav::before {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0;
    width: 2px;
    height: var(--sp-xl);
    content: "";
    transform: translateY(-50%);
    background-color: var(--color--gray-90);
  }
}

.secondary-nav__menu {
  list-style: none;
  display: flex;
  gap: var(--sp-2xs);
  flex-direction: column;
}
body:not(.is-always-mobile-nav) .secondary-nav__menu {
  flex-direction: row;
}

.secondary-nav__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: var(--sp-2xl);
  text-decoration: none;
  color: inherit;
}
.secondary-nav__menu-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  content: "";
  transition: opacity 0.2s, transform 0.2s;
  transform: translateY(5px);
  opacity: 0;
  /* Intentionally not using CSS logical properties. */
  border-top: solid 2px currentColor;
}
.secondary-nav__menu-link:hover::after {
  transform: translateY(0);
  opacity: 0.8;
}
body:not(.is-always-mobile-nav) .secondary-nav__menu-link:focus {
  position: relative;
  outline: 0;
}
body:not(.is-always-mobile-nav) .secondary-nav__menu-link:focus::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + var(--sp1));
  height: var(--sp3);
  content: "";
  transform: translate(-50%, -50%);
  border: solid 2px var(--color--primary-50);
  border-radius: 4px;
}
