/**
 * @file
 * Social Bar Region
 .
 */
@media (width > 1200px) {
  .social-bar {
    flex-shrink: 0;
    width: var(--content-left, var(--sp-xl-2xl));
    background-color: var(--color--gray-100);
  }
}

.social-bar__inner {
  position: relative;
  padding-block: var(--sp-s);
  padding-inline: var(--sp-m);
}
@media (width > 1200px) {
  .social-bar__inner {
    width: var(--content-left, var(--sp-xl-2xl));
    padding-block: var(--sp-2xl);
    padding-inline: 0;
  }
  .social-bar__inner.is-fixed {
    position: fixed;
    inset-block-start: var(--sp6);
    inset-inline-start: 0;
    height: calc(100vh - var(--sp6));
  }
}

.rotate > * {
  margin-block-end: var(--sp2);
}
@media (width > 1200px) {
  .rotate > * {
    display: flex;
    align-items: center;
    margin-block-end: 0;
  }
  .rotate > *:not(:first-child) {
    margin-inline-end: var(--sp2);
  }
}
@media (width > 1200px) {
  .rotate {
    position: absolute;
    inset-inline-start: 50%;
    display: flex;
    flex-direction: row-reverse;
    width: max-content;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left;
  }
  .rotate .contextual {
    inset-inline: 100% auto;
    transform: rotate(90deg);
    transform-origin: top left;
  }
  [dir=rtl] .rotate .contextual {
    transform: rotate(-90deg);
    transform-origin: top right;
  }
  .rotate .contextual .trigger {
    float: inline-start;
  }
  [dir=rtl] .rotate {
    transform: rotate(90deg) translateX(100%);
    transform-origin: right;
  }
}
