{% set variant_classes = {
  xsmall: ['mb-s', 'pi-xs-s', 'pb-2xs-xs', 'fs-xs'],
  small: ['mb-s', 'pi-s-m', 'pb-xs-s', 'fs-s'],
  medium: ['mb-m', 'pi-m-l', 'pb-s-m', 'fs-m'],
  large: ['mb-l', 'pi-l-xl', 'pb-m-l', 'fs-l'],
  xlarge: ['mb-xl', 'pi-xl-2xl', 'pb-l-xl', 'fs-xl']
}%}
{# {% set classes = create_attribute(variant_classes[variant|default(medium)])) %} #}
{% set attributes = create_attribute() %}
{% set classes = variant_classes[variant|default('medium')]|merge(['cb-g90', 'shadow']) %}
<div {{ attributes.addClass(classes) }}>
  {% block content %}{% endblock %}
</div>
