:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-serif, "Lora, georgia, serif");
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-h1, var(--fsh-4));
  font-weight: var(--font-weight-h1, normal);
  line-height: var(--line-height-h1, 1.3);
  letter-spacing: var(--letter-spacing-h1, 0.02em);
  margin-block: var(--mks-h1, 0.8em);
}

h2 {
  font-size: var(--font-size-h2, var(--fsh-3));
  font-weight: var(--font-weight-h2, normal);
  line-height: var(--line-height-h2, 1.3);
  letter-spacing: var(--letter-spacing-h2, 0.02em);
  margin-block: var(--mks-h2, 0.8em);
}

h3 {
  font-size: var(--font-size-h3, var(--fsh-2));
  font-weight: var(--font-weight-h3, normal);
  line-height: var(--line-height-h3, 1.3);
  letter-spacing: var(--letter-spacing-h3, 0.02em);
  margin-block: var(--mks-h3, 0.8em);
}

h4 {
  font-size: var(--font-size-h4, var(--fsh-1));
  font-weight: var(--font-weight-h4, normal);
  line-height: var(--line-height-h4, 1.3);
  letter-spacing: var(--letter-spacing-h4, 0.02em);
  margin-block: var(--mks-h4, 0.8em);
}

h6 {
  font-size: var(--font-size-h6, var(--fsh-0));
  font-weight: var(--font-weight-h6, normal);
  line-height: var(--line-height-h6, 1.3);
  letter-spacing: var(--letter-spacing-h6, 0.02em);
  margin-block: var(--mks-h6, 0.8em);
}

h5 {
  font-size: var(--font-size-h5, var(--fsh-0));
  font-weight: var(--font-weight-h5, normal);
  line-height: var(--line-height-h5, 1.3);
  letter-spacing: var(--letter-spacing-h5, 0.02em);
  margin-block: var(--mks-h5, 0.8em);
}
