:root {
  --line-height-base: (--line-height, 1.3);
  --line-height-s: 1.1;
}

html {
  font-size: 100%;
}

body {
  font-size: var(--font-size, var(--fs-0));
  font-family: var(--font-sans, "metropolis, sans-serif");
  font-weight: var(--font-weight, normal);
  font-style: var(--font-style, normal);
  letter-spacing: var(--letter-spacing, 0.04em);
  line-height: var(--line-height, 1.3);
}
