/**
 * @file
 * Social Bar Region
 .
 */

@use "../media_queries" as *;

.social-bar {
  @media ($mq__nav) {
    flex-shrink: 0;
    width: var(--content-left, var(--sp-xl-2xl));
    background-color: var(--color--gray-100);
  }
}

.social-bar__inner {
  position: relative;
  padding-block: var(--sp-s);
  padding-inline: var(--sp-m);

  @media ($mq__nav) {
    width: var(--content-left, var(--sp-xl-2xl));
    padding-block: var(--sp-2xl);
    padding-inline: 0;

    &.is-fixed {
      position: fixed;
      inset-block-start: var(--sp6);
      inset-inline-start: 0;
      height: calc(100vh - var(--sp6));
    }
  }
}

.rotate {
  >* {
    margin-block-end: var(--sp2);

    @media ($mq__nav) {
      display: flex;
      align-items: center;
      margin-block-end: 0;

      &:not(:first-child) {
        margin-inline-end: var(--sp2);
      }
    }
  }

  @media ($mq__nav) {
    position: absolute;
    inset-inline-start: 50%;
    display: flex;
    flex-direction: row-reverse;
    width: max-content;

    .contextual {
      inset-inline: 100% auto;

      transform: rotate(90deg);
      transform-origin: top left;
      [dir="rtl"] & {
        transform: rotate(-90deg);
        transform-origin: top right;
      }

      .trigger {
        float: inline-start;
      }
    }

    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left;
    [dir="rtl"] & {
      transform: rotate(90deg) translateX(100%);
      transform-origin: right;
    }
  }
}
