.button {
  display: inline-flex;
  align-items: center;

  /* Top padding accounts for font not being vertically centered within line-height. */
  padding-inline: 1.4em;
  // line-height: var(--line-height-s);

  // hardcoded height is required to harmonize with <input>
  height: var(--sp-xl);

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--color-text-primary-medium);
  border: solid 2px currentColor;
  border-radius: var(--border-radius, 0.2rem);

  font-family: var(--font-sans);
  font-size: var(--font-size, var(--fs-0));
  font-weight: 700;
  appearance: none;

  &:hover,
  &:focus {
    color: var(--color-text-primary-loud);
  }

  &:focus {
    outline: 2px solid var(--color--primary-60);
    outline-offset: 2px;
  }

  &:active {
    color: var(--color-text-primary-medium);
    border-color: currentColor;
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
    color: var(--color--gray-90);
    border-color: var(--color--gray-90);
  }

  /* No margin if is part of a menu. */
  .menu & {
    margin-block: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

.button--small,
.button--xsmall {
  height: unset;
  padding-block: 0.4em;

  font-weight: normal;
  &:is(:hover, :focus) {
    font-weight: normal;
  }
}

.button--small {
  font-size: var(--font-size-s, var(--fs--1));
}

.button--xsmall {
  font-size: var(--font-size-xs, var(--fs--2));
}

.button--primary {
  color: var(--color--white);
  border-color: var(--color--primary-40);
  background-color: var(--color--primary-40);

  &:hover,
  &:focus {
    color: var(--color--white);
    border-color: var(--color--primary-30);
    background-color: var(--color--primary-30);
  }

  &:active {
    color: var(--color--white);
    background-color: var(--color--primary-40);
  }

  &:disabled,
  &.is-disabled {
    color: var(--color--white);
    background-color: var(--color--gray-90);
  }
}

.button--icon-back {
  display: inline-flex;
  align-items: center;

  &::before {
    display: block;
    width: 0.5em;
    aspect-ratio: 1;
    margin-inline-end: 0.5em;
    content: "";
    border-block-end: solid 2px currentColor;
    border-inline-start: solid 2px currentColor;

    transform: rotate(45deg);
    [dir="rtl"] & {
      transform: rotate(-45deg);
    }
  }
}
