:root {
  --ck-highlight-marker-yellow: var(--color--gold);
  --ck-highlight-marker-green: var(--color--green);
  --ck-highlight-marker-pink: var(--color--red);
  --ck-highlight-marker-blue: var(--color--primary-60);

  --ck-highlight-pen-red: var(--color--red);
  --ck-highlight-pen-green: var(--color--green);
}
