:root {
  --details-summary-transition: background-color 0.12s ease-in-out;
}

.olivero-details {
  display: block;
  margin-block: var(--sp-m);
  color: inherit;
  border: var(--details-border-width, thin) solid var(--color--gray-95);
  border-radius: var(--border-radius, 0.2rem);;
  box-shadow: 0 1px 4px var(--color--gray-90);

  
  &__summary {
    /* Details summary styles */
    position: relative;
    padding-block: var(--sp-xs-s);
    padding-inline: var(--sp-l-xl) var(--sp-s-m);
    list-style: none;
    cursor: pointer;
    transition: var(--details-summary-transition);
    word-wrap: break-word;
    hyphens: auto;
    color: var(--color-text-neutral-medium);
    background-color: var(--color--gray-100);
    // font-size: var(--line-height-s);
    font-weight: 700;
    line-height: var(--sp-xs);

    &::before {
      /* Arrow icon */
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: var(--sp0-75);
      display: block;
      width: 0.625rem;
      height: 0.625rem;
      content: "";
      transform: translateY(-50%) rotate(45deg);
      border-top: solid 2px currentColor;
      border-right: solid 2px currentColor;
      
      [dir="rtl"] & {
        transform: translateY(-50%) rotate(-135deg);
      }
    }



    &::after {
      /* Pseudo-selector to manage focus styles */
      position: absolute;
      inset: calc(var(--details-border-width) * -1);
      content: "";
      pointer-events: none;
      opacity: 0;
      border-radius: var(--border-radius);
      box-shadow: inset 0 0 0 2px var(--color--primary-60);
    }


    &::-webkit-details-marker {
      /* Hide the marker */
      display: none;
    }


    &:focus {
      /* Disable default outline for summary, since we have own implementation */
      outline: solid 2px transparent;
      outline-offset: -4px;
    }


    &:hover {
      /* Details summary, hover state */
      background-color: var(--color--gray-95);
    }


    &:focus::after,
    &:active::after {
      /* Details summary, focus and active states */
      opacity: 1;
    }
  }


  &[open]>.olivero-details__summary::before {
    /* Rotate arrow icon of the details summary, when details expanded */
    margin-block-start: -2px;
    transform: translateY(-50%) rotate(135deg);
  }


  &__wrapper {
    margin: var(--sp-xs-s) var(--sp-s-m);
  }

  &__description {
    margin-block-end: var(--sp-m);
    color: var(--color-text-neutral-medium);
    font-size: var(--font-size-xs, var(--fs--2));
    line-height: var(--line-height-s);
  }
}