/**
 * @file
 * Visual styles for fields.
 */

.field + .field {
  margin-block-start: 0.4em;
  // margin-block-start: var(--sp-s);
}

.field__label {
  font-weight: var(--field-label-weight, bold);
}

.field--label-above {
  .field__label {
    margin-block-end: 0.4em;
  }
}

.field--label-inline {

  .field__label,
  .field__items {
    float: inline-start;
    margin-inline-end: var(--sp-xs);
  }

  >.field__item {
    margin-inline-end: var(--sp-s);
  }

  .field__label::after {
    content: ":";
  }
}
