/**
 * @file
 * Site branding in header.
 */
/* Navigation related breakpoints */
.site-branding {
  min-width: 30vw;
  min-height: clamp(2.6rem, 1.2rem + 7vi, var(--site-header-height-wide, 11rem));
  display: flex;
  align-items: flex-end;
  margin-inline-start: calc(-1 * var(--container-padding, var(--sp-m-l)));
  padding-block: var(--sp-xs-s);
  padding-inline: var(--container-padding, var(--sp-m-l));
  color: var(--site-branding-color, var(--color--white));
  background: var(--site-branding-background, linear-gradient(160deg, var(--color--primary-50) 0%, var(--color--primary-40) 80%));
  color: var(--color--white);
  background-image: linear-gradient(160deg, var(--color--primary-50) 0%, var(--color--primary-40) 78.66%);

  [dir=rtl] & {
    background: var(--site-branding-background, linear-gradient(-160deg, var(--color--primary-50) 0%, var(--color--primary-40) 80%));
    background-image: linear-gradient(-160deg, var(--color--primary-50) 0%, var(--color--primary-40) 78.66%);
  }

  a {
    color: inherit;
  }

  &.site-branding--bg-gray {
    color: var(--color--primary-50);
    background: var(--color--gray-100);
  }

  &.site-branding--bg-white {
    color: var(--color--primary-50);
    background: var(--color--white);
  }
}

.site-branding__inner {
  display: flex;
  align-items: center;
  gap: var(--sp-m);
}

.site-branding__logo {
  img,
  svg {
    width: auto;
    max-width: 100%;
    max-height: clamp(2.25rem, 1rem + 5.6vi, 6rem);
  }
}

.site-branding__text {
  font-size: var(--fsh-1);
  font-weight: bold;
}