// cleanup the leaftlet proximity form-item
fieldset[data-drupal-selector="edit-proximity-wrapper"],
fieldset[data-drupal-selector="edit-proximity"] {
  border: unset;
  padding: unset;
  margin: unset;
}