/**
 * @file
 * User generated tables.
 */

.forum table,
.text-content table,
.views-table,
.draggable-table {
  margin-block-start: var(--sp-l);
  margin-block-end: var(--sp-l);
  border-spacing: 0;
  color: var(--color-text-neutral-medium);
  border: 0;
  border-collapse: collapse;
  font-family: var(--font-sans);
  // font-size: 16px;
  // line-height: var(--line-height-l);

  caption {
    margin-block-end: var(--sp-m);
    text-align: start;
    color: var(--color-text-neutral-medium);
    font-family: var(--font-serif);
    // font-size: 14px;
    font-style: italic;
    line-height: var(--sp-m);
  }

  td,
  th {
    padding-block: var(--sp-m);
    padding-inline-start: 0;
    padding-inline-end: var(--sp-m);
    vertical-align: top;
    border-block-end: 2px solid;

    &.checkbox {
      text-align: center;
    }
  }

  tr {
    &:last-child {
      td {
        border-block-end: 0;
      }
    }
  }

  th {
    margin-block: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: start;
    letter-spacing: 0.02em;
    color: var(--color-text-neutral-loud);
    border-color: var(--color--primary-50);
    font-family: var(--font-sans);
    // font-size: 14px;
    line-height: var(--sp-m);
  }

  td {
    white-space: normal;
    border-color: var(--color--gray-65);
  }
}

.draggable-table {
  width: 100%;

  .form-item {
    margin-top: 0;
  }
}

.tablesort {
  vertical-align: middle;
}

.sticky-header {
  z-index: 0;
  margin: 0;
  border-block-end: 4px solid var(--color--primary-50);
}

/* Properly align VBO checkboxes. */
.views-field-node-bulk-form .form-item {
  margin: 0;
}
