.ui-icons-menu-text + svg,
svg:has(+ .ui-icons-menu-text) {
  display: inline-block;
  vertical-align: middle;
}

// after
.ui-icons-menu-text + svg {
  margin-inline-start: 0.25em;
}

// before
svg:has(+ .ui-icons-menu-text) {
  margin-inline-end: 0.25em;
}