:root {
  --sp-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --sp-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --sp-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --sp-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --sp-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --sp-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --sp-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --sp-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --sp-3xl: clamp(9rem, 8.6522rem + 1.7391vw, 10rem);
  --sp-4xl: clamp(13.5rem, 12.9783rem + 2.6087vw, 15rem);
  --sp-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --sp-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --sp-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --sp-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --sp-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --sp-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --sp-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --sp-2xl-3xl: clamp(4.5rem, 2.587rem + 9.5652vw, 10rem);
  --sp-3xl-4xl: clamp(9rem, 6.913rem + 10.4348vw, 15rem);
  --sp-2xs-3xs: clamp(0.3125rem, 0.6495rem + -0.4348vw, 0.5625rem);
  --sp-xs-2xs: clamp(0.625rem, 0.962rem + -0.4348vw, 0.875rem);
  --sp-s-xs: clamp(0.9375rem, 1.1902rem + -0.3261vw, 1.125rem);
  --sp-m-s: clamp(1.25rem, 1.8397rem + -0.7609vw, 1.6875rem);
  --sp-l-m: clamp(1.875rem, 2.3804rem + -0.6522vw, 2.25rem);
  --sp-xl-l: clamp(2.5rem, 3.6793rem + -1.5217vw, 3.375rem);
  --sp-2xl-xl: clamp(3.75rem, 4.7609rem + -1.3043vw, 4.5rem);
  --sp-3xl-2xl: clamp(5rem, 10.3913rem + -6.9565vw, 9rem);
  --sp-4xl-3xl: clamp(10rem, 14.7174rem + -6.087vw, 13.5rem);
}
