@use "sass:map";

$heading_fsh: (
  h1: var(--fsh-4),
  h2: var(--fsh-3),
  h3: var(--fsh-2),
  h4: var(--fsh-1),
  // ↑ Size increases 4 steps ↑
  h6: var(--fsh-0),
  h5: var(--fsh-0),
);

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-serif, "Lora, georgia, serif");
  text-wrap: balance;
}

@each $tag in map.keys($heading_fsh) {
  #{$tag} {
    font-size: var(--font-size-#{$tag}, map.get($heading_fsh, $tag));
    font-weight: var(--font-weight-#{$tag}, normal);
    line-height: var(--line-height-#{$tag}, 1.3);
    letter-spacing: var(--letter-spacing-#{$tag}, 0.02em);
    
    margin-block: var(--mks-#{$tag}, 0.8em);
  }
}
