{{ attach_library('olivero/feed') }}

<a href="{{ url }}"{{ attributes.addClass('feed-icon') }}>
  <span class="feed-icon__icon" aria-hidden="true">
    {# @fixme provide a cart icon from the theme #} 
    {{ icon('feather', 'shopping-cart') }}
  </span>
  <span class="ui-icons-menu-text">{{ count_text }}</span>
</a>

{# @todo Test and style commerce-cart-block.content #}
{% if content %}
<div class="cart-block--contents">
  <div class="cart-block--contents__inner">
    <div class="cart-block--contents__items">
      {{ content }}
    </div>
    <div class="cart-block--contents__links">
      {{ links }}
    </div>
  </div>
</div>
{% endif %}
