{#
/**
 * @file
 * Default theme implementation for the checkout progress.
 *
 * Available variables:
 * - steps: An array of steps, where each step has the following keys:
 *   - id: The step ID.
 *   - label: The step label.
 *   - position: 'previous', 'current' or 'next'.
 *
 * @ingroup themeable
 */
#}

{# Reuse breadcrumb markup @see "@olivero/navigation/breadcrump.html.twig" #}
<nav class="breadcrumb checkout-progress" role="navigation">
  <h2 id="system-checkout-progress" class="visually-hidden">{{ 'Checkout Progress'|t }}</h2>
  <div class="breadcrumb__content">
    <ol class="breadcrumb__list">
      {% for step in steps %}
        <li class="breadcrumb__item checkout-progress--step__{{ step.position }}">
          {{ step.label }}
        </li>
      {% endfor %}
    </ol>
  </div>
</nav>
