/**
 * @file
 * Visual styles for fields.
 */
.field + .field {
  margin-block-start: 0.4em;
}

.field__label {
  font-weight: var(--field-label-weight, bold);
}

.field--label-above .field__label {
  margin-block-end: 0.4em;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: inline-start;
  margin-inline-end: var(--sp-xs);
}
.field--label-inline > .field__item {
  margin-inline-end: var(--sp-s);
}
.field--label-inline .field__label::after {
  content: ":";
}
