/**
 * @file
 * Footer regions.
 */
.site-footer {
  position: relative;
  color: var(--color--gray-65);
  background: linear-gradient(180deg, var(--color--gray-5) 0%, var(--color--gray-10) 100%);
}
.site-footer .menu {
  margin-inline-start: 0;
  list-style: none;
}
.site-footer .menu ul {
  margin-inline-start: var(--sp-m);
}
.site-footer .menu li + li {
  margin-block-start: var(--sp-2xs);
}
.site-footer a {
  color: inherit;
}
.site-footer a:hover {
  text-decoration: none;
}

@media (width > 1200px) {
  body:not(.is-always-mobile-nav) .site-footer {
    border-inline-start: solid var(--content-left, var(--sp-xl-2xl)) var(--color--black);
  }
}
