/* Error: Expected identifier.
 *    ,
 * 27 |   appearance: none;
 *    |                    ^
 *    '
 *   web/themes/ui_suite_olivero/scss/components/form-select.pcss.css 27:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 27 \2502    appearance: none;\a    \2502                     ^\a    \2575 \a   web/themes/ui_suite_olivero/scss/components/form-select.pcss.css 27:20  root stylesheet";
}
