/**
 * @file
 * Site header.
 */
/* Navigation related breakpoints */
.site-header {
  position: relative;
  z-index: 101;
}
@media (width > 1200px) {
  .site-header {
    /* Necessary to keep the content from jumping up when header transitions to fixed. */
    min-height: var(--site-header-height-wide);
    border-block-end: solid 1px transparent; /* Will show in Windows high contrast mode. */
  }
}

.site-header__initial {
  position: relative;
  z-index: 102;
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--site-header-edge-background, var(--color--primary-50));
}

.site-header__fixable {
  display: flex;
  align-items: flex-end;
  transition: all 0.5s;
}
@media (width > 1200px) {
  .site-header__fixable.is-fixed:not(.is-expanded) {
    pointer-events: none;
  }
}

@media (width > 1200px) {
  body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed {
    position: fixed;
    z-index: 102; /* Appear above body content that is position: relative */
    inset-block-start: calc(var(--drupal-displace-offset-top, 0px) - var(--sp4));
    max-width: var(--page-max-width, 100rem);
  }
}
.site-header__inner {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  width: calc(100vw - var(--content-left, var(--sp-xl-2xl)) - var(--drupal-displace-offset-left, 0px) - var(--drupal-displace-offset-right, 0px));
  background: var(--site-header-background, var(--color--white));
}
@media (width > 1200px) {
  html.js body:not(.is-always-mobile-nav) .site-header__inner {
    /*
    * Only apply transition styles when JS is loaded. This
    * works around https://bugs.chromium.org/p/chromium/issues/detail?id=332189
    */
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
  }
}
@media (width > 1200px) {
  .site-header__fixable.is-expanded .site-header__inner {
    box-shadow: -36px 1px 36px rgba(0, 0, 0, 0.08); /* LTR */
  }
}
@media (width > 1200px) {
  [dir=rtl] .site-header__fixable.is-expanded .site-header__inner {
    box-shadow: 36px 1px 36px rgba(0, 0, 0, 0.08);
  }
}
@media (width > 1200px) {
  body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed:not(.is-expanded) .site-header__inner {
    /* Hide the desktop nav when it's fixed and not active. */
    opacity: 0;
    transform: translateX(-101%); /* LTR */
  }
  [dir=rtl] body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed:not(.is-expanded) .site-header__inner {
    transform: translateX(101%);
  }
}

.site-header__inner__container {
  display: flex;
  justify-content: space-between;
}
