/**
 * @file
 * User generated tables.
 */
.forum table,
.text-content table,
.views-table,
.draggable-table {
  margin-block-start: var(--sp-l);
  margin-block-end: var(--sp-l);
  border-spacing: 0;
  color: var(--color-text-neutral-medium);
  border: 0;
  border-collapse: collapse;
  font-family: var(--font-sans);
}
.forum table caption,
.text-content table caption,
.views-table caption,
.draggable-table caption {
  margin-block-end: var(--sp-m);
  text-align: start;
  color: var(--color-text-neutral-medium);
  font-family: var(--font-serif);
  font-style: italic;
  line-height: var(--sp-m);
}
.forum table td,
.forum table th,
.text-content table td,
.text-content table th,
.views-table td,
.views-table th,
.draggable-table td,
.draggable-table th {
  padding-block: var(--sp-m);
  padding-inline-start: 0;
  padding-inline-end: var(--sp-m);
  vertical-align: top;
  border-block-end: 2px solid;
}
.forum table td.checkbox,
.forum table th.checkbox,
.text-content table td.checkbox,
.text-content table th.checkbox,
.views-table td.checkbox,
.views-table th.checkbox,
.draggable-table td.checkbox,
.draggable-table th.checkbox {
  text-align: center;
}
.forum table tr:last-child td,
.text-content table tr:last-child td,
.views-table tr:last-child td,
.draggable-table tr:last-child td {
  border-block-end: 0;
}
.forum table th,
.text-content table th,
.views-table th,
.draggable-table th {
  margin-block: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: start;
  letter-spacing: 0.02em;
  color: var(--color-text-neutral-loud);
  border-color: var(--color--primary-50);
  font-family: var(--font-sans);
  line-height: var(--sp-m);
}
.forum table td,
.text-content table td,
.views-table td,
.draggable-table td {
  white-space: normal;
  border-color: var(--color--gray-65);
}

.draggable-table {
  width: 100%;
}
.draggable-table .form-item {
  margin-top: 0;
}

.tablesort {
  vertical-align: middle;
}

.sticky-header {
  z-index: 0;
  margin: 0;
  border-block-end: 4px solid var(--color--primary-50);
}

/* Properly align VBO checkboxes. */
.views-field-node-bulk-form .form-item {
  margin: 0;
}
