*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  &.is-fixed {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

svg,
img,
video,
audio {
  display: block;
  max-width: 100%;
}

img,
video {
  height: auto;
}

mark {
  color: inherit;
  padding-inline: 0.3em;
}

button {
  font-family: inherit;
}
