.layout-checkout-form {
  display: grid;
  gap: var(--sp-l);

  .layout-region-checkout-main {
    >fieldset:first-child {
      margin-block-start: unset;
    }

    >fieldset:last-child {
      margin-block-end: unset;
    }
  }

  .layout-region-checkout-secondary {
    background-color: var(--color--gray-100);
    padding-inline: var(--sp-m);
    margin-block: var(--sp-s);

    h3 {
      margin-block-start: var(--sp-s);
    }
  }

  &:has(.layout-region-checkout-secondary) {
    @media (width > 70rem) {
      grid-template-columns: auto minmax(30%, 30rem)
    }
  }
}

// @todo make this optional or move out
#edit-sidebar-coupon-redemption-form {
  display: flex;
  align-items: end;

  .form-item-sidebar-coupon-redemption-form-code {
    margin-block-end: unset;

    input {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }
  }

  [type="submit"] {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-left: unset;
  }
}
