.region--breadcrumb {
  display: flex;
  flex-wrap: wrap;
  > .block {
    width: min-content;
  }
}

// copy&paste from /core/themes/olivero/css/components/breadcrumb.css
.breadcrumb.checkout-progress {
  background-color: var(--color--gray-100);
  border-radius: var(--sp-m);
  margin-inline-start: var(--sp0-5);
  padding-inline-end: var(--sp-l);

  a {
    text-decoration: none;
    &:is(:hover, :focus) {
      text-decoration: underline;
    }
  }
  .breadcrumb__item:first-child::before {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-inline: 1rem 1.25rem;
    content: "";
    transform: rotate(45deg);
    border-block-start: 2px solid var(--color--gray-45);
    border-inline-end: 2px solid var(--color--gray-45);
  }
}

.checkout-progress--step__next {
  font-weight: normal;
}
