@use "../options" as *;
@use "sass:string";

@each $shade in $color_gray_shades {
  .cb-g#{$shade} {
    background-color: var(--color--gray-#{$shade});
  }
}

@each $shade in $color_primary_shades {
  .cb-p#{$shade} {
    background-color: var(--color--primary-#{$shade});
  }
}

@each $name in $color_named {
  #{'.cb-' + $name} {
    background-color: var(--color--#{$name});
  }
}
