@use "../options" as *;
@use "sass:string";

@each $shade in $color_gray_shades {
  .cr-g#{$shade} {
    --border-color: var(--color--gray-#{$shade});
  }
}

@each $shade in $color_primary_shades {
  .cr-p#{$shade} {
    --border-color: var(--color--primary-#{$shade});
  }
}

@each $name in $color_named {
  #{'.cr-' + $name} {
    --border-color: var(--color--#{$name});
  }
}