@use "../options" as *;
@use "sass:string";

span.ui-styles-source-select-plugin-option {
  @each $shade in $color_gray_shades {
    &.rc-g#{$shade} {
      background-color: var(--color--gray-#{$shade});
    }
  }

  @each $shade in $color_primary_shades {
    &.rc-p#{$shade} {
      background-color: var(--color--primary-#{$shade});
    }
  }

  @each $name in $color_named {
    #{'&.rc-' + $name} {
      background-color: var(--color--#{$name});
    }
  }
}