@use "sass:string";

@each $color in neutral, primary {
  $c: string.slice($color, 1, 1);

  @each $intensity in soft, medium, loud {
    @if ($color != primary or $intensity != soft) {
      $i: string.slice($intensity, 1, 1);
      .c-#{$c}#{$i} {
        color: var(--color-text-#{$color}-#{$intensity});
      }
    }
  }
}

// @each $gray in 5, 10, 20, 45, 60, 65, 70, 90, 95, 100 {
//   .c-g#{$gray} {
//     color: var(--color--gray-#{$gray});
//   }
// }

@each $name in black, white, red, gold, green {
  #{'.c-' + $name} {
    color: var(--color--#{$name});
  }
}
