@use "sass:map";
@use "../options";

@each $font in options.$fonts {
  .f-#{$font} {
    font-family: var(--font-#{$font});
  }
}

@each $name, $value in options.$font_weight {
  .fw-#{"" + $name} {
    font-weight: #{$value};
  }
}

@each $size, $default in options.$font_sizes {
  .fs-#{$size} {
    font-size: var(--font-size-#{$size}, $default);
  }
}

.fi {
  font-style: italic;
}