@use "../options" as *;
@use "sass:string";

:where(h1, h2, h3, h4, h5, h6) {
  @each $size, $value in $heading_sizes {
    .hs-#{$size} & {
      font-size: $value;
    }
  }

  @each $color in neutral, primary {
    $c: string.slice($color, 1, 1);

    @each $intensity in soft, medium, loud {
      @if ($color !=primary or $intensity !=soft) {
        $i: string.slice($intensity, 1, 1);

        .ch-#{$c}#{$i} & {
          color: var(--color-text-#{$color}-#{$intensity});
        }
      }
    }
  }

  // @each $shade in 5, 10, 20, 45, 60, 65, 70, 90, 95, 100 {
  //   .ch-g#{$shade} & {
  //     color: var(--color--gray-#{$shade});
  //   }
  // }

  @each $name in $color_named {
    #{'.hc-' + $name} & {
      color: var(--color--#{$name});
    }
  }

  @each $font in $fonts {
    .hf-#{$font} & {
      font-family: var(--font-#{$font});
    }
  }

  @each $name, $value in $font_weight {
    .hw-#{"" + $name} & {
      font-weight: #{$value};
    }
  }
}