.cb-g5 {
  background-color: var(--color--gray-5);
}

.cb-g10 {
  background-color: var(--color--gray-10);
}

.cb-g20 {
  background-color: var(--color--gray-20);
}

.cb-g30 {
  background-color: var(--color--gray-30);
}

.cb-g45 {
  background-color: var(--color--gray-45);
}

.cb-g60 {
  background-color: var(--color--gray-60);
}

.cb-g65 {
  background-color: var(--color--gray-65);
}

.cb-g70 {
  background-color: var(--color--gray-70);
}

.cb-g90 {
  background-color: var(--color--gray-90);
}

.cb-g95 {
  background-color: var(--color--gray-95);
}

.cb-g100 {
  background-color: var(--color--gray-100);
}

.cb-p30 {
  background-color: var(--color--primary-30);
}

.cb-p40 {
  background-color: var(--color--primary-40);
}

.cb-p50 {
  background-color: var(--color--primary-50);
}

.cb-p60 {
  background-color: var(--color--primary-60);
}

.cb-p80 {
  background-color: var(--color--primary-80);
}

.cb-black {
  background-color: var(--color--black);
}

.cb-white {
  background-color: var(--color--white);
}

.cb-red {
  background-color: var(--color--red);
}

.cb-gold {
  background-color: var(--color--gold);
}

.cb-green {
  background-color: var(--color--green);
}
