.cr-g5 {
  --border-color: var(--color--gray-5);
}

.cr-g10 {
  --border-color: var(--color--gray-10);
}

.cr-g20 {
  --border-color: var(--color--gray-20);
}

.cr-g30 {
  --border-color: var(--color--gray-30);
}

.cr-g45 {
  --border-color: var(--color--gray-45);
}

.cr-g60 {
  --border-color: var(--color--gray-60);
}

.cr-g65 {
  --border-color: var(--color--gray-65);
}

.cr-g70 {
  --border-color: var(--color--gray-70);
}

.cr-g90 {
  --border-color: var(--color--gray-90);
}

.cr-g95 {
  --border-color: var(--color--gray-95);
}

.cr-g100 {
  --border-color: var(--color--gray-100);
}

.cr-p30 {
  --border-color: var(--color--primary-30);
}

.cr-p40 {
  --border-color: var(--color--primary-40);
}

.cr-p50 {
  --border-color: var(--color--primary-50);
}

.cr-p60 {
  --border-color: var(--color--primary-60);
}

.cr-p80 {
  --border-color: var(--color--primary-80);
}

.cr-black {
  --border-color: var(--color--black);
}

.cr-white {
  --border-color: var(--color--white);
}

.cr-red {
  --border-color: var(--color--red);
}

.cr-gold {
  --border-color: var(--color--gold);
}

.cr-green {
  --border-color: var(--color--green);
}
