span.ui-styles-source-select-plugin-option.rc-g5 {
  background-color: var(--color--gray-5);
}
span.ui-styles-source-select-plugin-option.rc-g10 {
  background-color: var(--color--gray-10);
}
span.ui-styles-source-select-plugin-option.rc-g20 {
  background-color: var(--color--gray-20);
}
span.ui-styles-source-select-plugin-option.rc-g30 {
  background-color: var(--color--gray-30);
}
span.ui-styles-source-select-plugin-option.rc-g45 {
  background-color: var(--color--gray-45);
}
span.ui-styles-source-select-plugin-option.rc-g60 {
  background-color: var(--color--gray-60);
}
span.ui-styles-source-select-plugin-option.rc-g65 {
  background-color: var(--color--gray-65);
}
span.ui-styles-source-select-plugin-option.rc-g70 {
  background-color: var(--color--gray-70);
}
span.ui-styles-source-select-plugin-option.rc-g90 {
  background-color: var(--color--gray-90);
}
span.ui-styles-source-select-plugin-option.rc-g95 {
  background-color: var(--color--gray-95);
}
span.ui-styles-source-select-plugin-option.rc-g100 {
  background-color: var(--color--gray-100);
}
span.ui-styles-source-select-plugin-option.rc-p30 {
  background-color: var(--color--primary-30);
}
span.ui-styles-source-select-plugin-option.rc-p40 {
  background-color: var(--color--primary-40);
}
span.ui-styles-source-select-plugin-option.rc-p50 {
  background-color: var(--color--primary-50);
}
span.ui-styles-source-select-plugin-option.rc-p60 {
  background-color: var(--color--primary-60);
}
span.ui-styles-source-select-plugin-option.rc-p80 {
  background-color: var(--color--primary-80);
}
span.ui-styles-source-select-plugin-option.rc-black {
  background-color: var(--color--black);
}
span.ui-styles-source-select-plugin-option.rc-white {
  background-color: var(--color--white);
}
span.ui-styles-source-select-plugin-option.rc-red {
  background-color: var(--color--red);
}
span.ui-styles-source-select-plugin-option.rc-gold {
  background-color: var(--color--gold);
}
span.ui-styles-source-select-plugin-option.rc-green {
  background-color: var(--color--green);
}
