.c-ns {
  color: var(--color-text-neutral-soft);
}

.c-nm {
  color: var(--color-text-neutral-medium);
}

.c-nl {
  color: var(--color-text-neutral-loud);
}

.c-pm {
  color: var(--color-text-primary-medium);
}

.c-pl {
  color: var(--color-text-primary-loud);
}

.c-black {
  color: var(--color--black);
}

.c-white {
  color: var(--color--white);
}

.c-red {
  color: var(--color--red);
}

.c-gold {
  color: var(--color--gold);
}

.c-green {
  color: var(--color--green);
}
