.f-serif {
  font-family: var(--font-serif);
}

.f-sans {
  font-family: var(--font-sans);
}

.f-mono {
  font-family: var(--font-mono);
}

.fw-thin {
  font-weight: 100;
}

.fw-extralight {
  font-weight: 200;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 800;
}

.fw-black {
  font-weight: 900;
}

.fs-xs {
  font-size: var(--font-size-xs, var(--fs--2));
}

.fs-s {
  font-size: var(--font-size-s, var(--fs--1));
}

.fs-m {
  font-size: var(--font-size-m, var(--fs-0));
}

.fs-l {
  font-size: var(--font-size-l, var(--fs-1));
}

.fs-xl {
  font-size: var(--font-size-xl, var(--fs-2));
}

.fs-2xl {
  font-size: var(--font-size-2xl, var(--fs-3));
}

.fs-3xl {
  font-size: var(--font-size-3xl, var(--fs-4));
}

.fi {
  font-style: italic;
}

.ta-start p {
  text-align: start;
}

.ta-center p {
  text-align: center;
}

.ta-end p {
  text-align: end;
}

.ta-justify p {
  text-align: justify;
}
