.hs-m :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--fsh-0);
}
.hs-l :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--fsh-1);
}
.hs-xl :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--fsh-2);
}
.hs-2xl :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--fsh-3);
}
.hs-3xl :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--fsh-4);
}
.ch-ns :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color-text-neutral-soft);
}
.ch-nm :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color-text-neutral-medium);
}
.ch-nl :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color-text-neutral-loud);
}
.ch-pm :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color-text-primary-medium);
}
.ch-pl :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color-text-primary-loud);
}
.hc-black :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color--black);
}
.hc-white :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color--white);
}
.hc-red :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color--red);
}
.hc-gold :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color--gold);
}
.hc-green :where(h1, h2, h3, h4, h5, h6) {
  color: var(--color--green);
}
.hf-serif :where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-serif);
}
.hf-sans :where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-sans);
}
.hf-mono :where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-mono);
}
.hw-thin :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 100;
}
.hw-extralight :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 200;
}
.hw-light :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 300;
}
.hw-normal :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 400;
}
.hw-medium :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 500;
}
.hw-semibold :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
}
.hw-bold :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}
.hw-extrabold :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 800;
}
.hw-black :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 900;
}
