span.ui-styles-source-select-plugin-option.hs-xs {
  font-size: var(--fs--2);
}
span.ui-styles-source-select-plugin-option.hs-s {
  font-size: var(--fs--1);
}
span.ui-styles-source-select-plugin-option.hs-m {
  font-size: var(--fs-0);
}
span.ui-styles-source-select-plugin-option.hs-l {
  font-size: var(--fs-1);
}
span.ui-styles-source-select-plugin-option.hs-xl {
  font-size: var(--fs-2);
}
span.ui-styles-source-select-plugin-option.hs-2xl {
  font-size: var(--fs-3);
}
span.ui-styles-source-select-plugin-option.hs-3xl {
  font-size: var(--fs-4);
}
span.ui-styles-source-select-plugin-option.hc-ns {
  color: var(--color-text-neutral-soft);
}
span.ui-styles-source-select-plugin-option.hc-nm {
  color: var(--color-text-neutral-medium);
}
span.ui-styles-source-select-plugin-option.hc-nl {
  color: var(--color-text-neutral-loud);
}
span.ui-styles-source-select-plugin-option.hc-ps {
  color: var(--color-text-primary-soft);
}
span.ui-styles-source-select-plugin-option.hc-pm {
  color: var(--color-text-primary-medium);
}
span.ui-styles-source-select-plugin-option.hc-pl {
  color: var(--color-text-primary-loud);
}
span.ui-styles-source-select-plugin-option.hc-black {
  color: var(--color--black);
}
span.ui-styles-source-select-plugin-option.hc-white {
  color: var(--color--white);
}
span.ui-styles-source-select-plugin-option.hc-red {
  color: var(--color--red);
}
span.ui-styles-source-select-plugin-option.hc-gold {
  color: var(--color--gold);
}
span.ui-styles-source-select-plugin-option.hc-green {
  color: var(--color--green);
}
span.ui-styles-source-select-plugin-option.hf-serif {
  font-family: var(--font-serif);
}
span.ui-styles-source-select-plugin-option.hf-sans {
  font-family: var(--font-sans);
}
span.ui-styles-source-select-plugin-option.hf-mono {
  font-family: var(--font-mono);
}
span.ui-styles-source-select-plugin-option.hw-thin {
  font-weight: 100;
}
span.ui-styles-source-select-plugin-option.hw-extralight {
  font-weight: 200;
}
span.ui-styles-source-select-plugin-option.hw-light {
  font-weight: 300;
}
span.ui-styles-source-select-plugin-option.hw-normal {
  font-weight: 400;
}
span.ui-styles-source-select-plugin-option.hw-medium {
  font-weight: 500;
}
span.ui-styles-source-select-plugin-option.hw-semibold {
  font-weight: 600;
}
span.ui-styles-source-select-plugin-option.hw-bold {
  font-weight: 700;
}
span.ui-styles-source-select-plugin-option.hw-extrabold {
  font-weight: 800;
}
span.ui-styles-source-select-plugin-option.hw-black {
  font-weight: 900;
}
