.layout-checkout-form {
  display: grid;
  gap: var(--sp-l);
}
.layout-checkout-form .layout-region-checkout-main > fieldset:first-child {
  margin-block-start: unset;
}
.layout-checkout-form .layout-region-checkout-main > fieldset:last-child {
  margin-block-end: unset;
}
.layout-checkout-form .layout-region-checkout-secondary {
  background-color: var(--color--gray-100);
  padding-inline: var(--sp-m);
  margin-block: var(--sp-s);
}
.layout-checkout-form .layout-region-checkout-secondary h3 {
  margin-block-start: var(--sp-s);
}
@media (width > 70rem) {
  .layout-checkout-form:has(.layout-region-checkout-secondary) {
    grid-template-columns: auto minmax(30%, 30rem);
  }
}

#edit-sidebar-coupon-redemption-form {
  display: flex;
  align-items: end;
}
#edit-sidebar-coupon-redemption-form .form-item-sidebar-coupon-redemption-form-code {
  margin-block-end: unset;
}
#edit-sidebar-coupon-redemption-form .form-item-sidebar-coupon-redemption-form-code input {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}
#edit-sidebar-coupon-redemption-form [type=submit] {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-left: unset;
}
