.region--breadcrumb {
  display: flex;
  flex-wrap: wrap;
}
.region--breadcrumb > .block {
  width: min-content;
}

.breadcrumb.checkout-progress {
  background-color: var(--color--gray-100);
  border-radius: var(--sp-m);
  margin-inline-start: var(--sp0-5);
  padding-inline-end: var(--sp-l);
}
.breadcrumb.checkout-progress a {
  text-decoration: none;
}
.breadcrumb.checkout-progress a:is(:hover, :focus) {
  text-decoration: underline;
}
.breadcrumb.checkout-progress .breadcrumb__item:first-child::before {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-inline: 1rem 1.25rem;
  content: "";
  transform: rotate(45deg);
  border-block-start: 2px solid var(--color--gray-45);
  border-inline-end: 2px solid var(--color--gray-45);
}

.checkout-progress--step__next {
  font-weight: normal;
}
